@charset "utf-8";
$color-main: #000;
$color-gray: #898989;
$color-bg: #FDF8EB;
$color-pink: #E40065;

@mixin inner($w: 1170px) {
    width: 73%;
    max-width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin flex($a: stretch, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@mixin py($y: 100px) {
    padding-top: $y;
    padding-bottom: $y;
}


body {
    color: $color-main;
    font-size: 14px;
    font-family: "Helvetica",
        "Helvetica Neue",
        "Yu Gothic",
        "Hiragino Sans",
        "Hiragino Kaku Gothic ProN",
        "Meiryo",
        sans-serif;
    line-height: (24/14);
    letter-spacing: 0.05em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

// index

// header
.header {
    margin: 70px 0 100px;

    &__inner {
        @include inner();
    }

    &__list {
        @include flex();
    }
}

.gnav {
    &__list {
        @include flex();
    }

    &__item {
        list-style: none;
    }

    &__link {
        padding-left: 30px;
        color: $color-main;
        font-weight: bold;
    }
}


// main
.works {
    @include py();

    &__inner {
        @include inner();
    }

    &__category {
        color: $color-gray;
        font-size: 12px;
        line-height: (20/12);
    }

    &__title {
        padding: 20px 0 60px;
        font-size: 38px;
        font-weight: normal;
        line-height: (49/38);
    }

    &__title::after {
        content: "";
        display: block;
        width: 120px;
        margin-top: 30px;
        border-bottom: 1px solid;
    }

    &__ja {
        padding-bottom: 40px;
    }

    &__en {
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 60px;
    }

    &__list {
        @include flex();
    }

    &__item {
        width: 31%;
    }
}

.post {
    &__title {
        padding: 30px 0 15px;
        font-size: 20px;
        font-weight: normal;
        line-height: (26/20);
    }

    &__sub {
        color: $color-gray;
        font-size: 12px;
    }
}

.project {
    background-color: $color-bg;

    @include py();

    &__inner {
        @include inner();
    }

    &__category {
        color: $color-gray;
        font-size: 12px;
        line-height: (20/12);
    }

    &__title {
        padding: 20px 0 60px;
        font-size: 38px;
        font-weight: normal;
        line-height: (49/38);
    }

    &__title::after {
        content: "";
        display: block;
        width: 120px;
        margin-top: 30px;
        border-bottom: 1px solid;
    }

    &__ja {
        padding-bottom: 40px;
    }

    &__en {
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 60px;
    }

    &__list {
        @include flex();
    }

    &__item {
        width: 48%;
    }
}

.card {
    &__name {
        display: inline-block;
        padding: 5px 10px;
        margin: 30px 0;
        color: #fff;
        font-size: 12px;
        background-color: $color-pink;
        border-radius: 15px;
    }

    &__text {
        font-size: 20px;
        line-height: (34/20);
    }
}


// company

// main
.company {
    &__inner {
        @include inner();
    }
}

.unit {
    &__list {
        @include flex();
    }

    &__category {
        color: $color-gray;
        font-size: 12px;
        line-height: (20/12);
    }

    &__title {
        padding-top: 20px;
        font-size: 38px;
        font-weight: normal;
        line-height: (49/38);
    }

    &__title::after {
        content: "";
        display: block;
        width: 120px;
        margin-top: 30px;
        border-bottom: 1px solid;
    }

    &__body {
        width: 60%;
    }

    &__ja {
        padding-bottom: 40px;
    }

    &__en {
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 60px;
    }
}

.story {
    &__info1 {
        margin-bottom: 60px;
        padding: 150px 80px 160px;
        background: url(../images/bg_project01.jpg) no-repeat center/cover;
    }

    &__name {
        display: inline-block;
        padding: 5px 10px;
        color: #fff;
        font-size: 12px;
        background-color: $color-pink;
        border-radius: 15px;
    }

    &__text {
        margin: 30px 0 40px;
        font-size: 20px;
        line-height: (34/20);
        color: #fff;
    }

    &__list {
        color: #fff;
        list-style: none;
        padding: 0;
    }

    &__item {
        padding-bottom: 15px;
    }

    &__info2 {
        margin-bottom: 100px;
        padding: 150px 80px 160px;
        background: url(../images/bg_project02.jpg) no-repeat center/cover;
    }
}

.service {
    @include py();
    background-color: $color-bg;

    &__inner {
        @include inner();
    }

    &__list {
        @include flex();
    }

    &__item {
        width: 31%;
    }
}

.post {
    &__text {
        padding-top: 40px;
    }
}

// footer
.footer {
    margin: 100px 0 200px;

    &__inner {
        @include inner();
        text-align: right;
    }

    &__copy {
        color: $color-gray;
        font-size: 12px;
        font-weight: bold;
        margin: 0;
    }
}